
        <div class="details-container">
            <div class="details-container-image">
                <img
                    src="{{course.image}}">
            </div>
            <div class="details-container-info">
                <h2>Title: {{course.title}}</h2>
                <h3>Type:  {{course.type}}</h3>
                <h3>Certificate:  {{course.certificate}}</h3>
                <h3>Price:  {{course.price}}</h3>
                <h3>By: {{by}}</h3>
                {{#if course.signUpList.length}}
                <!--If there are sign up users-->
                <h4>Signed By: {{listing}}</h4>
                {{else}}
                <!--If there are no sign up users-->
                <h4>Nobody has signed in for this course yet</h4>
                {{/if}}
            </div>
            <div class="details-container-content">
                <p>{{course.description}}</p>
            </div>
            <div class="btn-container">
                {{#if hasUser}}
                <div id="action-buttons">
                    {{#if isOwner}}
                    <!-- Only for registered user and creator of the course-->
                        <a href="/edit/{{course._id}}" id="edit-btn">Edit</a>
                        <a href="/delete/{{course._id}}" id="delete-btn">Delete</a>
                    {{else}}

                        
                        {{#if isSigned}}
                            <!-- logged in user who has already sign up for the course-->
                            <p id="sign-up">You've already signed up for this course!</p>
                        {{else}}
                            <!-- logged in user who has not yet sign up for the course-->
                            <a href="/signUp/{{course._id}}">Sign up</a>
                        {{/if}}
                    
                    {{/if}}
                </div>
                {{/if}}


            </div>
        </div>
